<mat-card style="display: flex; flex-direction: column; align-items: center; margin: 1rem">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Note Title</mat-label>
      <input matInput placeholder="Todo">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>

  </form>
  <button mat-raised-button color="primary" style="width: 70px; align-self: end">Send</button>

</mat-card>
